* {
    margin: 0;
    padding: 0;
}

p {
    text-align: end;
}

.piece {
    width: 100%;
    cursor: grab;
}

.board {
    margin-left: 600px;
    margin-top: 100px;

}

.darkSquare {
    background-color: green;
    height: 80px;
    width: 80px;
    border: 1px solid black;
}

.lightSquare {
    background-color: white;
    height: 80px;
    width: 80px;
    border: 1px solid black;
}

.pawn {
    background-color: tan;
    height: 80px;
    width: 80px;
    background-image: url('../../pics/black-pawn.png');
    background-size: contain;
}

.row {
    display: flex;

}

.piece.dragging {
    opacity: .5;
}