<!DOCTYPE html>
<html>

<head>
    <title>Chess</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script src="../static/js/script.js" defer></script>
</head>

<body>
    <div class='board'>
        <div class='row'>
            <div class='lightSquare' id="a8">
                <img onclick="allRookMoves(this)" class="piece" id="bRook" draggable="true"
                    src="../pics/black-rook.png">
            </div>
            <div class='darkSquare' id="b8">
                <img onclick="allKnightMoves(this)" class="piece" draggable="true" src="../pics/black-knight.png">
            </div>
            <div class='lightSquare' id="c8">
                <img onclick="allBishopMoves(this)" class="piece" draggable="true" src="../pics/black-bishop.png">
            </div>
            <div class='darkSquare' id="d8">
                <img onclick="allQueenMoves(this)" class="piece" draggable="true" src="../pics/black-queen.png">
            </div>
            <div class='lightSquare' id="e8">
                <img onclick="allKingMoves(this)" class="piece" draggable="true" src="../pics/black-king.png">
            </div>
            <div class='darkSquare' id="f8">
                <img onclick="allBishopMoves(this)" class="piece" draggable="true" src="../pics/black-bishop.png">
            </div>
            <div class='lightSquare' id="g8">
                <img onclick="allKnightMoves(this)" class="piece" draggable="true" src="../pics/black-knight.png">
            </div>
            <div class='darkSquare' id="h8">
                <img onclick="allRookMoves(this)" class="piece" draggable="true" src="../pics/black-rook.png">
            </div>
        </div>
        <div class='row'>
            <div class='darkSquare' id="a7">
                <img onclick="allPawnMoves(this)" class="piece" draggable="true" src="../pics/black-pawn.png">
            </div>
            <div class='lightSquare' id="b7">
                <img onclick="allPawnMoves(this)" class="piece" draggable="true" src="../pics/black-pawn.png">
            </div>
            <div class='darkSquare' id="c7">
                <img onclick="allPawnMoves(this)" class="piece" draggable="true" src="../pics/black-pawn.png">
            </div>
            <div class='lightSquare' id="d7">
                <img onclick="allPawnMoves(this)" class="piece" draggable="true" src="../pics/black-pawn.png">
            </div>
            <div class='darkSquare' id="e7">
                <img onclick="allPawnMoves(this)" class="piece" draggable="true" src="../pics/black-pawn.png">
            </div>
            <div class='lightSquare' id="f7">
                <img onclick="allPawnMoves(this)" class="piece" draggable="true" src="../pics/black-pawn.png">
            </div>
            <div class='darkSquare' id="g7">
                <img onclick="allPawnMoves(this)" class="piece" draggable="true" src="../pics/black-pawn.png">
            </div>
            <div class='lightSquare' id="h7">
                <img onclick="allPawnMoves(this)" class="piece" draggable="true" src="../pics/black-pawn.png">
            </div>
        </div>
        <div class='row'>
            <div class='lightSquare' id="a6"></div>
            <div class='darkSquare' id="b6"></div>
            <div class='lightSquare' id="c6"></div>
            <div class='darkSquare' id="d6"></div>
            <div class='lightSquare' id="e6"></div>
            <div class='darkSquare' id="f6"></div>
            <div class='lightSquare' id="g6"></div>
            <div class='darkSquare' id="h6"></div>
        </div>

        <div class='row'>
            <div class='darkSquare' id="a5"></div>
            <div class='lightSquare' id="b5"></div>
            <div class='darkSquare' id="c5"></div>
            <div class='lightSquare' id="d5"></div>
            <div class='darkSquare' id="e5"></div>
            <div class='lightSquare' id="f5"></div>
            <div class='darkSquare' id="g5"></div>
            <div class='lightSquare' id="h5"></div>
        </div>
        <div class='row'>
            <div class='lightSquare' id="a4"></div>
            <div class='darkSquare' id="b4"></div>
            <div class='lightSquare' id="c4"></div>
            <div class='darkSquare' id="d4"></div>
            <div class='lightSquare' id="e4">
            </div>
            <div class='darkSquare' id="f4"></div>
            <div class='lightSquare' id="g4"></div>
            <div class='darkSquare' id="h4"></div>
        </div>
        <div class='row'>
            <div onclick="print(this)" class='darkSquare' id="a3"></div>
            <div class='lightSquare' id="b3"></div>
            <div class='darkSquare' id="c3"></div>
            <div class='lightSquare' id="d3">

            </div>
            <div class='darkSquare' id="e3"></div>
            <div class='lightSquare' id="f3"></div>
            <div class='darkSquare' id="g3"></div>
            <div class='lightSquare' id="h3"></div>
        </div>
        <div class='row'>
            <div class='lightSquare' id="a2">
                <img onclick="allPawnMoves(this)" class="piece" draggable="true" src="../pics/white-pawn.png">
            </div>
            <div class='darkSquare' id="b2">
                <img onclick="allPawnMoves(this)" class="piece" draggable="true" src="../pics/white-pawn.png">
            </div>
            <div class='lightSquare' id="c2">
                <img onclick="allPawnMoves(this)" class="piece" draggable="true" src="../pics/white-pawn.png">
            </div>
            <div class='darkSquare' id="d2">
                <img onclick="allPawnMoves(this)" class="piece" draggable="true" src="../pics/white-pawn.png">
            </div>
            <div class='lightSquare' id="e2">
                <img onclick="allPawnMoves(this)" class="piece" draggable="true" src="../pics/white-pawn.png">
            </div>
            <div class='darkSquare' id="f2">
                <img onclick="allPawnMoves(this)" class="piece" draggable="true" src="../pics/white-pawn.png">
            </div>
            <div class='lightSquare' id="g2">
                <img onclick="allPawnMoves(this)" class="piece" draggable="true" src="../pics/white-pawn.png">
            </div>
            <div class='darkSquare' id="h2">
                <img onclick="allPawnMoves(this)" class="piece" draggable="true" src="../pics/white-pawn.png">
            </div>

        </div>
        <div class='row'>
            <div class='darkSquare' id="a1">
                <img onclick="allRookMoves(this)" id="rook" class="piece" draggable="true" src="../pics/white-rook.png">
            </div>
            <div class='lightSquare' id="b1">
                <img onclick="allKnightMoves(this)" id="wKnight" class="piece" draggable="true"
                    src="../pics/white-knight.png">
            </div>
            <div class='darkSquare' id="c1">
                <img onclick="allBishopMoves(this)" class="piece" draggable="true" src="../pics/white-bishop.png">
            </div>
            <div class='lightSquare' id="d1">
                <img onclick="allQueenMoves(this)" class="piece" draggable="true" src="../pics/white-queen.png">
            </div>
            <div class='darkSquare' id="e1">
                <img onclick="allKingMoves(this)" class="piece" draggable="true" src="../pics/white-king.png">
            </div>
            <div class='lightSquare' id="f1">
                <img onclick="allBishopMoves(this)" class="piece" draggable="true" src="../pics/white-bishop.png">
            </div>
            <div class='darkSquare' id="g1">
                <img onclick="allKnightMoves(this)" id="wKnight" class="piece" draggable="true"
                    src="../pics/white-knight.png">
            </div>
            <div class='lightSquare' id="h1">
                <img onclick="allRookMoves(this)" class="piece" draggable="true" src="../pics/white-rook.png">
            </div>
        </div>
    </div>

</body>

</html>